<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>users</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center m-3 p-3">
            <div class="col-8">
               
             <% data.forEach((data)=>{  %>
                <div class="card my-2">
                    <div class="card-body">
                        <div class="card-title"><%= data.name%></div> <hr>
                        <div class="card-text"><%= data.email%></div>
                        <div class="card-text"><%= data.created_at%></div>
                        <form action="/user/delete/<%= data.id%>" method="get">
                        <div class="form-group">
                            <input type="hidden" value="<%= data.id%>">
                            <input type="submit" value='delete' class="form-control btn btn-outline-danger">
                        </div>
                        </form>
                    </div>
                </div>
           <% }) %>
            </div>
            <a href="/user/logout" class="btn btn-ouline-secondary">Logout</a>
        </div>
    </div>
</body>
</html>